<div>
  <div class="banner">
    <img
      alt="banner"
      class="banner-img"
      srcset="
        ./assets/img/banner-1024.jpg 1024w,
        ./assets/img/banner-512.jpg   512w
      "
      sizes="(max-width: 600px) 512px, 1024px"
    />
  </div>
  <h2>Cadmus FeBo</h2>
  <article>
    <p>
      Welcome to the FeBo (Federalism and Border Management in Greek Antiquity)
      project data editor. Access to this site is restricted to authorised
      users.
    </p>
    <p>
      “Federation for Peace in Ancient Greece” is the title of a well-known
      article published by J.A.O. Larsen in 1944 (Classical Philology 39:
      145-62). As the world was being ravaged by war, the scholar wondered about
      the potential of federalism as a means of conflict resolution. The subject
      of his study was federal organisations in a broad sense in ancient Greece,
      but the research clearly stemmed from a question that is today becoming
      increasingly topical: can federal organisations limit or even eliminate
      intra-federal war?
    </p>
    <p>
      The project "FeBo: Federalism and Border Management in Greek Antiquity"
      starts from the assumption that the question above, which continues to be
      asked by scholars, no longer makes sense. Despite romantic projections,
      federalisation processes do not guarantee peaceful coexistence, neither
      within themselves nor on their external borders. This is true for both
      ancient Greece and the contemporary world. As far as ancient Greece is
      concerned (and perhaps not only ancient Greece), the question should focus
      rather on borders: how did the Greek federal states deal with the problem
      of internal (intra-federal) as well as external borders?
    </p>
    <p>
      The aim of this project is to demonstrate that (a) Greek federal states
      developed a specific border culture and sometimes even implemented precise
      border-management policies, that (b) the main focus of this culture was
      not peaceful coexistence, but rather a balance of power, and that (c) in
      order to be successful, economic, ethnic, cultural and religious networks
      had to be taken into account, i.e. there had to be a multi-level culture
      of border management.
    </p>
    <p>
      In order to prove these points, it will be necessary to adopt a holistic
      perspective that takes into account not only political borders, but also
      everyone and everything that crossed and animated these, giving rise in
      turn to economic/cultural/ethnic/religious networks or even communities of
      destiny, which were of crucial importance for the stability of a federal
      state. Politics was not enough. Much more was needed.
    </p>
  </article>
</div>
