<div>
  <div class="banner">
    <img
      alt="banner"
      class="banner-img"
      srcset="
        ./assets/img/banner-1024.jpg 1024w,
        ./assets/img/banner-512.jpg   512w
      "
      sizes="(max-width: 600px) 512px, 1024px"
    />
  </div>
  <article>
    <h2>Cadmus FeBo</h2>
    <p>
      Welcome to the FeBo (Federalism and Border Management in Greek Antiquity)
      project data editor. Access to this site is restricted to authorised
      users.
    </p>
    <p></p>
  </article>
</div>
